body {
    background: #EBECEB;
    font-family:verdana;
    margin:0px;
    padding:0px;
    margin:auto;
height:100%;
}

a { color:#435A6E; text-decoration:none; }
a:hover { text-decoration:underline; }
a:visited { color:#435A6E; }

h1, h2, h3, h4 {
    margin:0px;
    padding:0px;
}

h1 { margin-bottom:20px; }
h2 { margin-bottom:20px; font-size:24px; color:#435A6E; font-weight:normal; }
h3 { margin-bottom:14px; font-size:18px; color:#435A6E; font-weight:normal; }
h4 { margin-bottom:10px; color:#435A6E; /* #5f5f5f; */ }

hr {
  margin:20px 0px;
  border:1px solid #cccccc;
  border-bottom:0px solid #ccc;
}

pre, code { line-height:16px; }
.no_u { text-decoration:none; }
.no_u a { text-decoration:none; }

body {
}

#logo {
  float:left;
  margin-top:21px;
  margin-left:30px;
margin-bottom:12px;
}

#header {
/*    padding:21px 30px 12px; */
color:lightgray;
    margin-top:12px;
    border-top:1px solid lightgray;
    border-bottom:1px solid #94B922;    
}

#header img {
}

#header h1 {
    float:left;
    margin-bottom:0px;
    font-family:arial;
    margin-top:3px;
}

#header_right {
float:right;
font-size:14px;
text-align:right;
margin-top:31px;
margin-right:30px;

}

#header_right .item {
color:gray;

/* width:100px;
text-align:center;
display:block;
float:left;
*/
  padding-left:20px;
padding-right:20px;

}
#header_right a {
font-size:14px;
color:gray;
}
#header_right .active a {
font-weight:bold;
color:#435A6E;
}

#pitch {
margin-left:-68px;
margin-top:-20px;
background:#f7f7f7;
/* background:url(/static/images/flock_content1_beta2_fb2.jpg) top left no-repeat; */
background:url(images/flock_4_android.jpg) top left no-repeat;
width:960px;
height:381px;
text-align:center;
}


#pitch h1 {
padding-top:63px;
font-family:arial;
font-size:10pt;
color:#b0b0b0;
}

#pitch #intro_text {
display:none;
text-align:left;
width:300px;
height:170px;
padding-top:102px;
padding-left:158px;
font-size:18px;
color:#d5d5d5;
line-height:20px;
}

#pitch #intro_button {
text-align:left;
margin-left:140px;
padding-top:278px;
}




#container { 
    width:960px;
margin:auto;
background:white;
border-bottom:1px solid lightgray;
border-right:2px solid lightgray;
border-left:2px solid lightgray;

}

#left {
display:none;
    float:left;
    height:100%;
    padding:24px 40px 50px 40px;
    line-height:22px;
    font-family:arial;
    font-size:13px;
    border-right:2px solid  #94B922;
}

#left ul {
list-style-type:none;
margin:0px 0px 0px 20px;
padding:0px;
}
#left ul li {
padding:2px 0px 0px 0px;
}


#main {
    line-height:1.35;
    color:#333;
    font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
    font-size:13px;
    padding:20px 68px 60px 68px;
}

#main li {
padding:2px 0px 2px 0px;
}

#main p {
    padding:0px;
    margin-top:0px;
    margin-bottom:14px;
}

table.padded td, table.padded th {
  padding:2px 20px;
  vertical-align:top;
}
table.padded_s td, table.padded_s th {
  padding:2px 6px;
}


#main #sidebar {
  font-size:13px;
}






table.clr {
    width:100%;
    spacing:0px;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    font-size:12px;
    margin-bottom:10px;
}
table.clr td, table.clr th {
    border-right:1px solid #CCC;
    border-bottom:1px solid #CCC;
    margin:0px;
    padding:4px 10px;
}

table.clr th {
    background:#E5ECF9;
    text-align:left;
}

table.clr .td1 {
    width:70px;
    vertical-align:top;
    text-align:right;
}

table.clr tr.tr_even {
    background:#F6F6F6;
}

table.clr .function_info {
    padding-left:10px;
    color:#333;
}

table.clr a { font-weight:bold; }



.method_header { background:#E2E2E2; padding:2px 4px; margin-bottom:4px; }
.method_info { padding-left:20px; }



#footer {
font-size:11px;
text-align:center;
margin-top:14px;
color:lightgray;
margin-bottom:40px;
}

#footer a {
padding:0px 10px;
}

.u1 td {
border-bottom:1px solid lightgray;
padding-bottom:4px;
}

.u2 td {
padding-top:4px;
}

tr.bold td {
font-weight:bold;
}


#calc table td {
padding:2px 10px;
}

#calc table tr:hover {
background:#E0E7EF;
}




/* DEVELOPER STATS */
iframe.stats {
width:800px;
height:600px;
border:0px;
}


img.border1 {
  border:1px solid darkgray;
  padding:10px;
}

#stats_preview_getstarted {
background: none repeat scroll 0% 0% rgb(245, 245, 245); 
padding-top: 4px; 
text-align: center; 
border: 1px solid lightgray; 
width: 400px; 
margin: auto;

}
